name: docker-test
on: [push, pull_request]
jobs:
  docker-xpu-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: false
        tags: anarkiwi/pytorch-xpu
        cache-from: type=gha
        cache-to: type=gha,mode=max
