name: docker-release
on: [push, pull_request]
jobs:
  docker-xpu:
    runs-on: ubuntu-latest
    environment:
      name: "release"
    steps:
    - uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push Docker base image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: anarkiwi/pytorch-xpu
        cache-from: type=gha
        cache-to: type=gha,mode=max
      if: github.repository == 'anarkiwi/xpu-pytorch' && github.event_name == 'push'
